@import "tailwindcss";

:root {
  --background: #f7f5fc;
  --foreground: #2d2345;
  --primary: #672be0;
  --primary-light: #ede7ff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard", Arial, sans-serif;
}

button {
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  opacity: 0.9;
}

input {
  outline: none;
}
